<div class="tracks__item">
  <img class="tracks__cover" src="{{ cover }}">
  <div class="tracks__text">
    <span class="tracks__text-year">{{ year }}</span>
    <span class="tracks__text-title">{{ title }}</span>
    <span class="tracks__text-about {{ about_length }}">{{ about }}</span>
    <span class="tracks__text-description">{{ description }}</span>      
  </div>
  <span class="tracks__item-number">{{ number }}</span>
</div>